.slick-slider {
  max-width: 80vw;
  max-height: 40vh;
  display: block;
}

/* Добавьте стили для контейнера слайдера */
.carousel-container {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Стили для каждого слайда */
.slick-slide img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Дополнительные стили для адаптации слайдов на различных ширинах экрана */
/* Эти стили могут потребоваться доработки в зависимости от вашего дизайна */
@media (max-width: 768px) {
  .slick-slide {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .slick-slide {
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  .slick-slide {
    padding: 0 20px;
  }
}
